/*! TalkativeHobbies */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* ? ========================================================================== ? 
   ? Base Styles                                                                ? 
   ? ========================================================================== ? */
/* Define the "system" font family */
:root {
  --primary: #0088a9;
  --primaryDark: #007390;
  --programHero: #0088a9;
  --programHeroDark: #007390;
  --artHero: #ff7b23;
  --artHeroDark: #aa5319;
}
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText"), local(".HelveticaNeueDeskInterface"),
    local(".LucidaGrandeUI"), local("Ubuntu"), local("Segoe UI"),
    local("Roboto"), local("DroidSans"), local("Tahoma");
}

html {
  font-family: "system";
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  position: fixed;
  width: 100vw;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 700;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--primary);
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--primaryDark);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--primaryDark);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
.programming {
  background: var(--programHero);
}
.art {
  background: var(--artHero);
}
.hero {
  height: 100vh;
  width: 100%;
  color: whitesmoke;
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  /*   text-align: center; */
}
.hero .info h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}
.hero .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

.gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-auto-rows: minmax(150px, auto);*/
  grid-template-rows: repeat(3, minmax(10rem, auto));
  grid-row-gap: 1rem;
}

.img img {
  width: 15rem;
}
ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}

footer a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  transition: all 0.3s ease 0s;
}

footer a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
li p{
  font-size: 1.5rem;
}

footer li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}


footer div {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
